/* Coolors Exported Palette - coolors.co/119da4-0c7489-13505b-040404-d7d9ce */

/* HSL */
$color1: hsla(183%, 81%, 35%, 1);
$color2: hsla(190%, 84%, 29%, 1);
$color3: hsla(189%, 65%, 22%, 1);
$color4: hsla(0%, 0%, 2%, 1);
$color5: hsla(71%, 13%, 83%, 1);

/* RGB */
$color1: rgba(17, 157, 164, 1);
$color2: rgba(12, 116, 137, 1);
$color3: rgba(19, 80, 91, 1);
$color4: rgba(4, 4, 4, 1);
$color5: rgba(215, 217, 206, 1);